body {
    margin: 0px;
    padding: 0px;
    border: 5px solid rgb(216, 212, 212);
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
}

.sub-top-banner {
    width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.sub-top-banner h1 {
    font-size: 40px;
    font-family: arial black;
    color: white;
}

.sub-top-banner p {
    color: white;
}

#top-banner {
    background-image: url(images/top-baner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 100px;
}

.donate-bttn {
    text-decoration: none;
    background: tomato;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.sub-top-banner p {
    margin-bottom: 40px;
}

.middle-banner1 {
    margin-bottom: 100px;
}

.sub-middle-banner1 {
    width: 650px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.sub-middle-banner1 h1 {
    font-family: arial black;
    font-size: 30px;
}

.span-color {
    padding: 30px 20px;
    display: inline-block;
    margin-left: 15px;
    font-family: arial black;
    background: rgb(246, 242, 242);
    border-radius: 5px;
    font-size: 20px;
    color: #707070;
}

.sub-middle-banner1 p {
    margin-bottom: 40px;
}

#span-2 {
    font-size: 20px;
    border-radius: 5px;
    font-family: arial black;
    background: #FFEEEE;
    margin-left: 15px;
    color: #FF6E6E;
    border: 2px solid #FF6E6E;
    padding: 30px 20px;
}

#div-box {
    margin-bottom: 40px;
}

.bottom-span span {
    color: #B5B5B5;
    font-size: 15px;
}

.bottom-span {
    margin-bottom: 15px;
    border-bottom: 1px solid #B5B5B5;
    padding-bottom: 20px;
}

.sub-middle-banner1 button {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    background: tomato;
    font-weight: bold;
    margin-top: 20px;
}

.sub-middle-banner2 {
    width: 800px;
    margin: auto;
}

.donatePlan-content {
    width: 500px;
    text-align: center;
    margin: auto;
}

.donatePlan-content h1 {
    font-size: 38px;
    font-family: arial black;
}

.donatePlan-content p {
    margin-bottom: 40px;
}

.content-box {
    display: flex;
}

.content-box div {
    width: 48%;
    border-radius: 4px;
    padding: 30px 20px;
    margin-right: 15px;
}

.food-content {
    background: #EDF5F6;
}

.shelter-content {
    background: #FFEEEE;
}

.education-content {
    background: #FFF4D6;
}

.middle-banner2 {
    margin-bottom: 100px;
}

.middle-banner3 {
    display: flex;
    margin-bottom: 100px;
    width: 900px;
    margin: auto;
    padding-bottom: 100px;
}

.sub-middle-banner3 {
    width: 50%;
}

.sub-middle-banner3 img {
    width: 100%;
    height: 400px;
    margin-left: 40px;
    border-radius: 5px;
}

.buttontype {
    background: tomato;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.sub-middle-banner3 div {
    margin-top: 40px;
}

.content-part {
    margin-right: 40px;
    text-align: justify;
    margin-top: 30px;
}

.content-part h1 {
    font-size: 30px;
    font-family: arial black;
}

.middle-banner4 {
    width: 1000px;
    margin: auto;
    display: flex;
    padding-bottom: 150px;
}

.middle-banner4 img {
    width: 450px;
    border-radius: 5px;
    padding-right: 70px;
}

.middle-banner4 h1 {
    font-size: 35px;
    font-family: arial black;
}

.middle-banner4 a {
    background: tomato;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.middle-banner4 p {
    padding-bottom: 20px;
}

.updates-part {
    width: 800px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.updates-part h1 {
    font-size: 35px;
    font-family: arial black;
}

.updates-part p {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

.updates-email {
    background: #faecc4;
    padding: 60px 0px;
    border-radius: 5px;
}

.updates-email input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    padding-right: 40px;
}

.updates-email button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 0px 5px 5px 0px;
    background: tomato;
    color: white;
    font-weight: bold;
}

.footer {
    text-align: center;
    background: black;
    padding: 40px;
}

.footer h2 {
    color: #FF5959;
}

.footer span {
    color: white;
}